<div id="footer">
    <p class="bg-light m-0 p-3 small text-center">
        This documentation was built automatically thanks to <a href="https://github.com/mirko-pagliai/php-doc-maker" target="_blank">php-doc-maker</a>
    </p>
</div>