<ul class="list-unstyled m-0">
    {%~ for class in classes %}
    <li class="text-truncate">
        <a href="{{ class.getLink }}" title="{{ class.getName }}">
            {%- if class.hasTag('deprecated') -%}
                <del>{{ class.getName }}</del>
            {%- else -%}
                {{ class.getName }}
            {%- endif -%}
        </a>
    </li>
    {%~ endfor %}
    {%~ if hasFunctions %}
    <li>
        <a href="functions.html" title="Functions">Functions</a>
    </li>
    {%~ endif %}
</ul>