{% extends "layout.twig" %}

{% block content %}
    <h2>Classes index</h2>
    <ul>
        {% for class in classes %}
            <li>
                <a href="{{ class.getLink }}"><code>{{ class.getName }}</code></a>
                <div>
                    {{ class.getDocBlockSummaryAsString }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}