<div><span class="badge badge-light">{{ constant.getVisibility }}</span></div>
<div><code>{{ constant.toSignature }}</code></div>
<div>{{ constant.getDocBlockAsString|to_html }}</div>
<div><code>{{ constant.getValueAsString }}</code></div>