<div><span class="badge badge-light">{{ constant.getVisibility }}</span></div>
<div><code>{{ constant }}</code></div>
<div>{{ constant.getDocBlockAsString }}</div>
<div><code>{{ constant.getValue }}</code></div>