<h2>Functions index</h2>

<h4>Functions summary</h4>
<ul>
    {% for function in functions %}
        <li>
            {{ include('elements/method-summary.twig', {method: function}, with_context = false) }}
        </li>
    {% endfor %}
</ul>

<h4>Functions detail</h4>
{% for function in functions %}
    <div class="mb-4">
        {{ include('elements/method.twig', {method: function}, with_context = false) }}
    </div>
{% endfor %}