<div>
    <code>
        <a href="#{{ method.getName }}">{{ method.getName }}()</a>
    </code> <span class="badge badge-light">{{ method.getVisibility }}</span>

    {% if method.isStatic %}
        <span class="badge badge-light">static</span>
    {% endif %}

    {% if method.isDeprecated %}
        <span class="badge badge-light">deprecated</span>
    {% endif %}
    <div>{{ method.getDocBlockSummaryAsString }}</div>
</div>